openapi: 3.1.0
info:
  title: Web Extraction Agent API
  description: |
    AI-powered agent that transforms unstructured web content into organized, structured data
    using Exa and optionally Firecrawl APIs. Extracts comprehensive information from web pages
    and presents it in a standardized PageInformation JSON schema with url, title, description,
    features, content_sections, links, contact_info, and metadata.

    Implements the A2A Protocol with JSON-RPC 2.0 methods for agent communication, task
    management, context management, DID resolution, and payment processing.

    ## Why Task-First Architecture?

    This API follows Bindu's **Task-First Agent Pattern** - every interaction creates a trackable task.
    This isn't just about async operations; it enables:

    **Asynchronous Processing**
    - Web extraction can take 10-30 seconds depending on page complexity
    - Track extraction progress with unique task IDs
    - Poll for completion without blocking

    **Parallel Execution**
    - Extract multiple URLs simultaneously with unique task IDs
    - Example: Extract 5 different pages in parallel

    **Dependency Management**
    - Use `referenceTaskIds` to chain tasks together
    - Later tasks can reference earlier extraction results
    - Build workflows: Extract URL → Analyze content → Generate summary

    **Context Continuity**
    - Multiple tasks share the same `contextId` for conversation history
    - Maintain context across a series of related extractions

    This aligns with the A2A Protocol's "Task-only Agent" pattern where **all responses are Task objects**,
    enabling orchestration at scale.

    **Learn more:** [Task-First Pattern Documentation](https://docs.getbindu.com/bindu/concepts/task-first-pattern)

    ## Getting Started

    ### Authentication
    All JSON-RPC requests require a Bearer token in the Authorization header:
    ```
    Authorization: Bearer YOUR_TOKEN_HERE
    ```

    ### Basic Workflow (Async Task Pattern)

    This API uses an **asynchronous task pattern**. When you send a message, you receive a task ID
    and must poll for completion:

    **Step 1: Send a message** (creates a task)
    ```bash
    curl -X POST https://web-extraction-agent.bindu-agents.bindus.directory \
      -H "Content-Type: application/json" \
      -H "Authorization: Bearer YOUR_TOKEN" \
      -d '{
        "jsonrpc": "2.0",
        "method": "message/send",
        "params": {
          "message": {
            "role": "user",
            "parts": [{"kind": "text", "text": "Extract information from https://www.mozilla.org/en-US/"}],
            "kind": "message",
            "messageId": "550e8400-e29b-41d4-a716-446655440038",
            "contextId": "550e8400-e29b-41d4-a716-446655440038",
            "taskId": "550e8400-e29b-41d4-a716-446655440078"
          },
          "configuration": {
            "acceptedOutputModes": ["application/json"]
          }
        },
        "id": "550e8400-e29b-41d4-a716-446655440024"
      }'
    ```
    Response: Task with `"state": "submitted"`

    **Step 2: Poll for task status** (check if working/completed)
    ```bash
    curl -X POST https://web-extraction-agent.bindu-agents.bindus.directory \
      -H "Content-Type: application/json" \
      -H "Authorization: Bearer YOUR_TOKEN" \
      -d '{
        "jsonrpc": "2.0",
        "method": "tasks/get",
        "params": {"taskId": "550e8400-e29b-41d4-a716-446655440078"},
        "id": "550e8400-e29b-41d4-a716-446655440014"
      }'
    ```
    Response: Task with `"state": "working"` or `"state": "completed"`

    **Step 3: Get results** (when state is "completed")
    The completed task includes:
    - `history`: Full conversation history (user message + assistant response)
    - `artifacts`: Structured PageInformation JSON with extracted web data

    ### Available JSON-RPC Methods

    - **message/send** - Send a message and create a new task
    - **tasks/get** - Get task details by ID (use for polling)
    - **tasks/list** - List all tasks with pagination
    - **tasks/cancel** - Cancel a running task
    - **tasks/feedback** - Submit feedback for a completed task
    - **contexts/list** - List conversation contexts
    - **contexts/clear** - Clear a conversation context

    ### Task States

    - `submitted` - Task created, not yet started
    - `working` - Task is being processed (extracting web content)
    - `completed` - Task finished successfully (check artifacts for PageInformation JSON)
    - `failed` - Task encountered an error
    - `canceled` - Task was canceled by user
    - `input-required` - Task needs additional input from user

    ### Example Use Cases

    - "Extract information from https://en.wikipedia.org/wiki/Python_(programming_language)"
    - "Extract information from https://www.mozilla.org/en-US/"
    - "Get product details from https://store.example.com/product/123"
    - "Scrape article content from https://news.example.com/article"
  version: 1.0.0
servers:
  - url: https://web-extraction-agent.bindu-agents.bindus.directory
    description: Production server
  - url: http://localhost:3773
    description: Local development server
security:
  - bearerAuth: []
paths:
  /:
    post:
      summary: JSON-RPC 2.0 endpoint
      description: |
        All JSON-RPC methods are sent as POST requests to this endpoint.

        **Available Methods:**
        - `message/send` - Send a message and create a new task
        - `tasks/get` - Get task details by ID (use for polling)
        - `tasks/list` - List all tasks
        - `tasks/cancel` - Cancel a running task
        - `tasks/feedback` - Submit feedback for a task
        - `contexts/list` - List conversation contexts
        - `contexts/clear` - Clear a conversation context

        **Async Task Pattern:**
        1. Call `message/send` to create a task (returns with state "submitted")
        2. Poll `tasks/get` until state changes to "completed" (or "failed")
        3. Extract PageInformation JSON from the `artifacts` array in the completed task
      operationId: jsonRpc
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JsonRpcRequest'
            examples:
              messageSend:
                summary: Send a message (Step 1 - Create Task)
                description: Creates a new web extraction task
                value:
                  jsonrpc: "2.0"
                  method: "message/send"
                  params:
                    message:
                      role: "user"
                      parts:
                        - kind: "text"
                          text: "Extract information from https://www.mozilla.org/en-US/"
                      kind: "message"
                      messageId: "550e8400-e29b-41d4-a716-446655440038"
                      contextId: "550e8400-e29b-41d4-a716-446655440038"
                      taskId: "550e8400-e29b-41d4-a716-446655440078"
                    configuration:
                      acceptedOutputModes:
                        - "application/json"
                    skillId: "web-extraction-v1"
                  id: "550e8400-e29b-41d4-a716-446655440024"
              tasksGet:
                summary: Get task status (Step 2 - Poll for Completion)
                description: Check if the extraction task is completed and retrieve results
                value:
                  jsonrpc: "2.0"
                  method: "tasks/get"
                  params:
                    taskId: "550e8400-e29b-41d4-a716-446655440078"
                  id: "550e8400-e29b-41d4-a716-446655440014"
              tasksList:
                summary: List all tasks
                description: Get a paginated list of all extraction tasks
                value:
                  jsonrpc: "2.0"
                  method: "tasks/list"
                  params:
                    limit: 10
                    offset: 0
                  id: "550e8400-e29b-41d4-a716-446655440025"
              tasksCancel:
                summary: Cancel a task
                description: Cancel a running or submitted extraction task
                value:
                  jsonrpc: "2.0"
                  method: "tasks/cancel"
                  params:
                    taskId: "550e8400-e29b-41d4-a716-446655440078"
                  id: "550e8400-e29b-41d4-a716-446655440026"
      responses:
        '200':
          description: Successful JSON-RPC response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonRpcResponse'
              examples:
                messageSendSubmitted:
                  summary: Task created (state = submitted)
                  description: Initial response after sending a message
                  value:
                    jsonrpc: "2.0"
                    id: "550e8400-e29b-41d4-a716-446655440024"
                    result:
                      id: "550e8400-e29b-41d4-a716-446655440078"
                      context_id: "550e8400-e29b-41d4-a716-446655440038"
                      kind: "task"
                      status:
                        state: "submitted"
                        timestamp: "2026-03-02T09:46:16.677285+00:00"
                      history:
                        - message_id: "550e8400-e29b-41d4-a716-446655440038"
                          context_id: "550e8400-e29b-41d4-a716-446655440038"
                          task_id: "550e8400-e29b-41d4-a716-446655440078"
                          kind: "message"
                          parts:
                            - kind: "text"
                              text: "Extract information from https://www.mozilla.org/en-US/"
                          role: "user"
                      artifacts: []
                      metadata: {}
                tasksGetWorking:
                  summary: Task in progress (state = working)
                  description: Response when polling a task that is still extracting web content
                  value:
                    jsonrpc: "2.0"
                    id: "550e8400-e29b-41d4-a716-446655440014"
                    result:
                      id: "550e8400-e29b-41d4-a716-446655440078"
                      context_id: "550e8400-e29b-41d4-a716-446655440038"
                      kind: "task"
                      status:
                        state: "working"
                        timestamp: "2026-03-02T09:46:20.425656+00:00"
                      history:
                        - message_id: "550e8400-e29b-41d4-a716-446655440038"
                          context_id: "550e8400-e29b-41d4-a716-446655440038"
                          task_id: "550e8400-e29b-41d4-a716-446655440078"
                          kind: "message"
                          parts:
                            - kind: "text"
                              text: "Extract information from https://www.mozilla.org/en-US/"
                          role: "user"
                      artifacts: []
                      metadata: {}
                tasksGetCompleted:
                  summary: Task completed (state = completed)
                  description: Final response with PageInformation JSON in artifacts array
                  value:
                    jsonrpc: "2.0"
                    id: "550e8400-e29b-41d4-a716-446655440014"
                    result:
                      id: "550e8400-e29b-41d4-a716-446655440078"
                      context_id: "550e8400-e29b-41d4-a716-446655440038"
                      kind: "task"
                      status:
                        state: "completed"
                        timestamp: "2026-03-02T09:46:35.512110+00:00"
                      history:
                        - message_id: "550e8400-e29b-41d4-a716-446655440038"
                          context_id: "550e8400-e29b-41d4-a716-446655440038"
                          task_id: "550e8400-e29b-41d4-a716-446655440078"
                          kind: "message"
                          parts:
                            - kind: "text"
                              text: "Extract information from https://www.mozilla.org/en-US/"
                          role: "user"
                        - role: "assistant"
                          parts:
                            - kind: "text"
                              text: |
                                ```json
                                {
                                  "url": "https://www.mozilla.org/",
                                  "title": "Welcome to Mozilla",
                                  "description": "Mozilla - Internet for people, not profit (US)",
                                  "features": [
                                    "Trustworthy tech solutions",
                                    "Policy advocacy for digital rights",
                                    "Safer, private internet experience"
                                  ],
                                  "content_sections": [
                                    {
                                      "heading": "Welcome to Mozilla",
                                      "content": "From trustworthy tech to policies that defend your digital rights, we put you first — always."
                                    },
                                    {
                                      "heading": "Love the internet again",
                                      "content": "Break free from big tech — our products put you in control of a safer, more private internet experience."
                                    }
                                  ],
                                  "links": {
                                    "Learn about us": "https://www.mozilla.org/en-US/about/",
                                    "0DIN": "https://www.mozilla.org/en-US/privacy/",
                                    "Solo": "https://www.mozilla.org/en-US/solo/",
                                    "Firefox Relay": "https://relay.firefox.com/",
                                    "Mozilla Monitor": "https://monitor.firefox.com/"
                                  },
                                  "contact_info": null,
                                  "metadata": {
                                    "language": "en-US",
                                    "region": "US"
                                  }
                                }
                                ```
                          kind: "message"
                          message_id: "fd20a7cd-d04a-4b7c-a07c-dcf49c65f81e"
                          task_id: "550e8400-e29b-41d4-a716-446655440078"
                          context_id: "550e8400-e29b-41d4-a716-446655440038"
                      artifacts:
                        - name: "result"
                          artifact_id: "feeeaa6c-3d02-4232-a40a-b98fe96c2eb0"
                          parts:
                            - kind: "text"
                              text: |
                                ```json
                                {
                                  "url": "https://www.mozilla.org/",
                                  "title": "Welcome to Mozilla",
                                  "description": "Mozilla - Internet for people, not profit (US)",
                                  "features": [
                                    "Trustworthy tech solutions",
                                    "Policy advocacy for digital rights",
                                    "Safer, private internet experience"
                                  ],
                                  "content_sections": [
                                    {
                                      "heading": "Welcome to Mozilla",
                                      "content": "From trustworthy tech to policies that defend your digital rights, we put you first — always."
                                    }
                                  ],
                                  "links": {
                                    "Learn about us": "https://www.mozilla.org/en-US/about/"
                                  },
                                  "contact_info": null,
                                  "metadata": {
                                    "language": "en-US",
                                    "region": "US"
                                  }
                                }
                                ```
                              metadata:
                                did.message.signature: "5cpbk7RvcXLuzSSq9UydvwebsYF2Df7rXMB14dF5PGqwt3saqoubs3y3k4vSPMPXxk3J62dABLiqyznb6vqhBgpF"
                      metadata: {}
        '400':
          description: Invalid JSON-RPC request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonRpcResponse'
              example:
                jsonrpc: "2.0"
                id: "550e8400-e29b-41d4-a716-446655440024"
                error:
                  code: -32600
                  message: "Invalid Request"
        '401':
          description: Unauthorized - missing or invalid bearer token
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
              example:
                error: "Unauthorized"
      security:
        - bearerAuth: []
      x-code-samples:
        - lang: 'curl'
          label: 'Step 1: Send Message'
          source: |
            curl --location 'https://web-extraction-agent.bindu-agents.bindus.directory' \
            --header 'Content-Type: application/json' \
            --header 'Authorization: Bearer YOUR_TOKEN_HERE' \
            --data '{
              "jsonrpc": "2.0",
              "method": "message/send",
              "params": {
                "message": {
                  "role": "user",
                  "parts": [
                    {
                      "kind": "text",
                      "text": "Extract information from https://www.mozilla.org/en-US/"
                    }
                  ],
                  "kind": "message",
                  "messageId": "550e8400-e29b-41d4-a716-446655440038",
                  "contextId": "550e8400-e29b-41d4-a716-446655440038",
                  "taskId": "550e8400-e29b-41d4-a716-446655440078"
                },
                "configuration": {
                  "acceptedOutputModes": [
                    "application/json"
                  ]
                },
                "skillId": "web-extraction-v1"
              },
              "id": "550e8400-e29b-41d4-a716-446655440024"
            }'
  '/.well-known/agent.json':
    get:
      summary: Get Agent Card
      description: Returns the agent's metadata card following the A2A Protocol specification.
      operationId: getAgentCard
      responses:
        '200':
          description: Agent card retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentCard'
      security: []
  '/did/resolve':
    post:
      summary: Resolve DID
      description: Resolves a Decentralized Identifier (DID) to its W3C-compliant DID document.
      operationId: resolveDid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - did
              properties:
                did:
                  type: string
                  description: The DID to resolve
                  example: 'did:bindu:user:web-extraction-agent:agent-id'
      responses:
        '200':
          description: DID document resolved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DidDocument'
      security: []
  '/agent/skills':
    get:
      summary: List Agent Skills
      description: Returns a list of all skills supported by the agent.
      operationId: listSkills
      responses:
        '200':
          description: List of skills
          content:
            application/json:
              schema:
                type: object
                properties:
                  skills:
                    type: array
                    items:
                      $ref: '#/components/schemas/SkillSummary'
                  total:
                    type: integer
                    example: 1
      security: []
  '/agent/skills/{skillId}':
    get:
      summary: Get Skill Details
      description: Returns detailed information about a specific skill.
      operationId: getSkillDetails
      parameters:
        - name: skillId
          in: path
          required: true
          schema:
            type: string
          description: The skill identifier (e.g., 'web-extraction-v1')
      responses:
        '200':
          description: Skill details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SkillDetail'
        '404':
          description: Skill not found
      security: []
  '/agent/skills/{skillId}/documentation':
    get:
      summary: Get Skill Documentation
      description: Returns human-readable documentation for a specific skill in Markdown or YAML format.
      operationId: getSkillDocumentation
      parameters:
        - name: skillId
          in: path
          required: true
          schema:
            type: string
          description: The skill identifier
      responses:
        '200':
          description: Skill documentation
          content:
            application/yaml:
              schema:
                type: string
                description: YAML formatted documentation
            text/markdown:
              schema:
                type: string
                description: Markdown formatted documentation
        '404':
          description: Skill not found
      security: []
  '/agent/negotiation':
    post:
      summary: Assess Task Capability
      description: Assess agent's capability to handle a task for negotiation.
      operationId: assessTaskCapability
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NegotiationRequest'
      responses:
        '200':
          description: Capability assessment result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NegotiationResponse'
      security: []
  '/api/start-payment-session':
    post:
      summary: Start Payment Session
      description: Initiates a payment session for x402 protocol.
      operationId: startPaymentSession
      responses:
        '200':
          description: Payment session started
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentSession'
      security:
        - bearerAuth: []
  '/api/payment-status/{sessionId}':
    get:
      summary: Get Payment Status
      description: Retrieves the status of a payment session.
      operationId: getPaymentStatus
      parameters:
        - name: sessionId
          in: path
          required: true
          schema:
            type: string
          description: The payment session identifier
        - name: wait
          in: query
          schema:
            type: boolean
            default: false
          description: Set to 'true' to wait for completion (up to 5 minutes)
      responses:
        '200':
          description: Payment status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentStatus'
      security:
        - bearerAuth: []
  '/payment-capture':
    get:
      summary: Payment Capture Page
      description: Browser page to capture payment. Shows paywall UI and captures payment token.
      operationId: paymentCapture
      parameters:
        - name: session_id
          in: query
          required: true
          schema:
            type: string
          description: The payment session ID
      responses:
        '200':
          description: Payment capture page (HTML)
          content:
            text/html:
              schema:
                type: string
      security: []
  /health:
    get:
      summary: Health Check
      description: Health check endpoint for service monitoring.
      operationId: healthCheck
      responses:
        '200':
          description: Service health information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
      security: []
  /metrics:
    get:
      summary: Prometheus Metrics
      description: Prometheus metrics endpoint for scraping.
      operationId: getMetrics
      responses:
        '200':
          description: Metrics in Prometheus text format
          content:
            text/plain:
              schema:
                type: string
      security: []
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Bearer token authentication. Include `Bearer <token>` in the Authorization header.
  schemas:
    # ----- JSON-RPC -----
    JsonRpcRequest:
      type: object
      required:
        - jsonrpc
        - method
        - id
      properties:
        jsonrpc:
          type: string
          enum: ['2.0']
        method:
          type: string
          enum:
            - message/send
            - tasks/get
            - tasks/list
            - tasks/cancel
            - tasks/feedback
            - contexts/list
            - contexts/clear
        params:
          oneOf:
            - $ref: '#/components/schemas/MessageSendParams'
            - $ref: '#/components/schemas/TasksGetParams'
            - $ref: '#/components/schemas/TasksListParams'
            - $ref: '#/components/schemas/TasksCancelParams'
            - $ref: '#/components/schemas/TasksFeedbackParams'
            - $ref: '#/components/schemas/ContextsListParams'
            - $ref: '#/components/schemas/ContextsClearParams'
          discriminator:
            propertyName: method
            mapping:
              message/send: '#/components/schemas/MessageSendParams'
              tasks/get: '#/components/schemas/TasksGetParams'
              tasks/list: '#/components/schemas/TasksListParams'
              tasks/cancel: '#/components/schemas/TasksCancelParams'
              tasks/feedback: '#/components/schemas/TasksFeedbackParams'
              contexts/list: '#/components/schemas/ContextsListParams'
              contexts/clear: '#/components/schemas/ContextsClearParams'
        id:
          type: string
          format: uuid
          example: '550e8400-e29b-41d4-a716-446655440024'
    JsonRpcResponse:
      type: object
      properties:
        jsonrpc:
          type: string
          enum: ['2.0']
        id:
          type: string
          format: uuid
        result:
          oneOf:
            - $ref: '#/components/schemas/MessageSendResult'
            - $ref: '#/components/schemas/TasksGetResult'
            - $ref: '#/components/schemas/TasksListResult'
            - $ref: '#/components/schemas/TasksCancelResult'
            - $ref: '#/components/schemas/TasksFeedbackResult'
            - $ref: '#/components/schemas/ContextsListResult'
            - $ref: '#/components/schemas/ContextsClearResult'
        error:
          type: object
          properties:
            code:
              type: integer
            message:
              type: string
      oneOf:
        - required: [result]
        - required: [error]
    # MessageSend
    MessageSendParams:
      type: object
      description: |
        Parameters for sending a message to create a new web extraction task.

        **This creates an asynchronous task** - the response will contain a task ID with state "submitted".
        You must poll the task using `tasks/get` to check when extraction completes.
      required:
        - message
      properties:
        message:
          $ref: '#/components/schemas/UserMessage'
        configuration:
          type: object
          description: Configuration options for the task execution
          properties:
            acceptedOutputModes:
              type: array
              description: Preferred output formats (use "application/json" for structured PageInformation)
              items:
                type: string
                enum: ['application/json', 'text/plain']
        skillId:
          type: string
          description: Optional skill ID to invoke (e.g., "web-extraction-v1")
    UserMessage:
      type: object
      description: |
        A message from the user to the agent.

        **Important:** All IDs (messageId, contextId, taskId) should be UUIDs generated by the client.
        Use the same contextId for related messages in a conversation.
      required:
        - role
        - parts
        - kind
        - messageId
        - contextId
        - taskId
      properties:
        role:
          type: string
          enum: ['user']
          description: Must be "user" for messages sent to the agent
        parts:
          type: array
          description: Array of message parts (currently only text is supported)
          items:
            $ref: '#/components/schemas/MessagePart'
        kind:
          type: string
          enum: ['message']
          description: Must be "message"
        messageId:
          type: string
          format: uuid
          description: Unique identifier for this message (client-generated UUID)
        contextId:
          type: string
          format: uuid
          description: Conversation context ID - use the same ID for related messages
        taskId:
          type: string
          format: uuid
          description: Task ID for this request (client-generated UUID) - use this to poll for results
        referenceTaskIds:
          type: array
          description: |
            Optional array of task IDs that this task depends on or references.

            **Use Cases:**
            - **Task Chaining**: Reference a completed extraction to analyze its results
            - **Context Sharing**: Link related extractions in a workflow
            - **Dependency Management**: Indicate this task needs results from other tasks

            **Example Workflow:**
            ```
            Task1: "Extract from URL1" → completes with PageInformation
            Task2: "Extract from URL2" (referenceTaskIds: [Task1]) → can compare results
            Task3: "Analyze both" (referenceTaskIds: [Task1, Task2]) → combines both
            ```

            The agent can access results from referenced tasks to provide better context.
          items:
            type: string
            format: uuid
        metadata:
          type: object
          description: Additional metadata, e.g., for payment
    MessagePart:
      type: object
      required:
        - kind
      properties:
        kind:
          type: string
          enum: ['text']
        text:
          type: string
    MessageSendResult:
      type: object
      properties:
        id:
          type: string
          format: uuid
        context_id:
          type: string
          format: uuid
        kind:
          type: string
          enum: ['task']
        status:
          $ref: '#/components/schemas/TaskStatus'
        history:
          type: array
          items:
            $ref: '#/components/schemas/HistoryMessage'
        artifacts:
          type: array
          items:
            $ref: '#/components/schemas/Artifact'
        metadata:
          type: object
    TaskStatus:
      type: object
      description: |
        Current status of a task.

        **Task Lifecycle:**

        **Non-Terminal States (Task Open, Mutable):**
        1. `submitted` - Task created, queued for processing
        2. `working` - Task is extracting web content
        3. `input-required` - Task needs additional input from user
        4. `auth-required` - Task needs authentication/authorization

        **Terminal States (Task Immutable, Final):**
        - `completed` - Task finished successfully (check artifacts for PageInformation JSON)
        - `failed` - Task encountered an error
        - `canceled` - Task was canceled by user
        - `rejected` - Task was rejected (e.g., capability mismatch)

        **Important:** Once a task reaches a terminal state, it becomes immutable and cannot be restarted.
        To extract another URL, create a new task with `referenceTaskIds` pointing to the completed task.
      required:
        - state
        - timestamp
      properties:
        state:
          type: string
          enum: [submitted, working, input-required, auth-required, completed, failed, canceled, rejected]
          description: |
            Current state of the task:

            **Non-Terminal (poll again):**
            - **submitted**: Task created, not yet started
            - **working**: Task is extracting web content
            - **input-required**: Task needs more information from user
            - **auth-required**: Task needs authentication/authorization

            **Terminal (final state):**
            - **completed**: Task finished - PageInformation JSON is in artifacts array
            - **failed**: Task encountered an error (check history for details)
            - **canceled**: Task was canceled by user
            - **rejected**: Task was rejected (e.g., agent cannot handle this request)
        timestamp:
          type: string
          format: date-time
          description: ISO 8601 timestamp of when this state was reached
    HistoryMessage:
      type: object
      properties:
        kind:
          type: string
        role:
          type: string
        parts:
          type: array
          items:
            $ref: '#/components/schemas/MessagePart'
        task_id:
          type: string
          format: uuid
        context_id:
          type: string
          format: uuid
        message_id:
          type: string
          format: uuid
        reference_task_ids:
          type: array
          items:
            type: string
            format: uuid
    Artifact:
      type: object
      description: |
        A structured output artifact from a completed task.

        The artifact with `name: "result"` contains the PageInformation JSON wrapped in a code block.
      properties:
        name:
          type: string
          description: Artifact name (typically "result" for the main output)
        parts:
          type: array
          description: Content parts of the artifact (PageInformation JSON in text format)
          items:
            $ref: '#/components/schemas/MessagePart'
        artifact_id:
          type: string
          format: uuid
          description: Unique identifier for this artifact
        metadata:
          type: object
          description: Additional artifact metadata (may include DID signatures)
    # TasksGet
    TasksGetParams:
      type: object
      description: |
        Parameters for retrieving task details.

        **Use this method to poll for task completion** after calling `message/send`.
        Poll every 3-5 seconds until the state is "completed", "failed", or "canceled".
      required:
        - taskId
      properties:
        taskId:
          type: string
          format: uuid
          description: The task ID returned from message/send
    TasksGetResult:
      $ref: '#/components/schemas/Task'
    Task:
      type: object
      description: |
        A task represents an asynchronous web extraction operation.

        **When state is "completed":**
        - `history` contains the full conversation (user message + assistant response with PageInformation JSON)
        - `artifacts` contains the structured results (check the "result" artifact for PageInformation)
      properties:
        id:
          type: string
          format: uuid
          description: Unique task identifier
        context_id:
          type: string
          format: uuid
          description: Conversation context this task belongs to
        kind:
          type: string
          enum: ['task']
          description: Always "task"
        status:
          $ref: '#/components/schemas/TaskStatus'
        history:
          type: array
          description: Conversation history (user messages and assistant responses)
          items:
            $ref: '#/components/schemas/HistoryMessage'
        artifacts:
          type: array
          description: |
            Structured results when task is completed.
            Look for the artifact with name "result" for the PageInformation JSON.
          items:
            $ref: '#/components/schemas/Artifact'
        metadata:
          type: object
          description: Additional task metadata
    # TasksList
    TasksListParams:
      type: object
      properties:
        limit:
          type: integer
          minimum: 1
          maximum: 100
        offset:
          type: integer
          minimum: 0
    TasksListResult:
      type: array
      items:
        $ref: '#/components/schemas/Task'
    # TasksCancel
    TasksCancelParams:
      type: object
      required:
        - taskId
      properties:
        taskId:
          type: string
          format: uuid
    TasksCancelResult:
      $ref: '#/components/schemas/Task'
    # TasksFeedback
    TasksFeedbackParams:
      type: object
      required:
        - taskId
        - feedback
      properties:
        taskId:
          type: string
          format: uuid
        feedback:
          type: string
        rating:
          type: integer
          minimum: 1
          maximum: 5
        metadata:
          type: object
    TasksFeedbackResult:
      type: object
      properties:
        success:
          type: boolean
    # ContextsList
    ContextsListParams:
      type: object
      properties:
        length:
          type: integer
          minimum: 1
          maximum: 100
    ContextsListResult:
      type: array
      items:
        type: object
        description: Conversation context object
    # ContextsClear
    ContextsClearParams:
      type: object
      required:
        - contextId
      properties:
        contextId:
          type: string
          format: uuid
    ContextsClearResult:
      type: object
      properties:
        success:
          type: boolean

    # ----- Agent Card -----
    AgentCard:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        description:
          type: string
        url:
          type: string
        version:
          type: string
        protocolVersion:
          type: string
        skills:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              name:
                type: string
              documentationPath:
                type: string
        capabilities:
          type: object
          properties:
            extensions:
              type: array
              items:
                type: object
            pushNotifications:
              type: boolean
            streaming:
              type: boolean
        kind:
          type: string
        numHistorySessions:
          type: integer
        extraData:
          type: object
        debugMode:
          type: boolean
        debugLevel:
          type: integer
        monitoring:
          type: boolean
        telemetry:
          type: boolean
        agentTrust:
          type: string
        defaultInputModes:
          type: array
          items:
            type: string
        defaultOutputModes:
          type: array
          items:
            type: string
      example:
        id: 'web-extraction-agent-id'
        name: 'web-extraction-agent'
        description: 'AI-powered agent that transforms unstructured web content into organized, structured data using Exa and optionally Firecrawl APIs. Extracts comprehensive information from web pages and presents it in a standardized PageInformation JSON schema.'
        url: 'http://localhost:3773'
        version: '1.0.0'
        protocolVersion: '1.0.0'
        skills:
          - id: 'web-extraction-v1'
            name: 'web-extraction'
            documentationPath: 'http://localhost:3773/agent/skills/web-extraction-v1'
        capabilities:
          extensions: []
          pushNotifications: false
          streaming: false
        kind: 'agent'
        numHistorySessions: 5
        extraData:
          created: 1771960617
          server_info: 'bindu Agent Server'
        debugMode: true
        debugLevel: 2
        monitoring: false
        telemetry: true
        agentTrust: 'low'
        defaultInputModes: ['text/plain', 'application/json']
        defaultOutputModes: ['application/json']

    # ----- DID Document -----
    DidDocument:
      type: object
      properties:
        '@context':
          type: array
          items:
            type: string
        id:
          type: string
        created:
          type: string
          format: date-time
        authentication:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              type:
                type: string
              controller:
                type: string
              publicKeyBase58:
                type: string
      example:
        '@context':
          - 'https://www.w3.org/ns/did/v1'
          - 'https://getbindu.com/ns/v1'
        id: 'did:bindu:user:web-extraction-agent:agent-id'
        created: '2026-03-10T15:46:13.581497+00:00'
        authentication:
          - id: 'did:bindu:user:web-extraction-agent:agent-id#key-1'
            type: 'Ed25519VerificationKey2020'
            controller: 'did:bindu:user:web-extraction-agent:agent-id'
            publicKeyBase58: 'G5GArDaptfioimLdNbMgCKCvxndXhpcS6VUkRFEds12B'

    # ----- Skills -----
    SkillSummary:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        description:
          type: string
        version:
          type: string
        tags:
          type: array
          items:
            type: string
        input_modes:
          type: array
          items:
            type: string
        output_modes:
          type: array
          items:
            type: string
        examples:
          type: array
          items:
            type: string
        documentation_path:
          type: string
      example:
        id: 'web-extraction-v1'
        name: 'web-extraction'
        description: 'Extracts web page content using Exa and optionally Firecrawl, then structures it into JSON format using OpenRouter LLM. Returns PageInformation schema with url, title, description, features, content_sections, links, contact_info, and metadata.'
        version: '1.0.0'
        tags: ['web', 'extraction', 'structured-data', 'scraping', 'content-analysis']
        input_modes: ['text/plain', 'application/json']
        output_modes: ['application/json']
        examples:
          - 'Extract information from https://en.wikipedia.org/wiki/Python_(programming_language)'
          - 'Extract information from https://www.mozilla.org/en-US/'
          - 'Get product details from this page'
        documentation_path: 'web_extraction_agent/skills/web-extraction/skill.yaml'

    SkillDetail:
      allOf:
        - $ref: '#/components/schemas/SkillSummary'
        - type: object
          properties:
            author:
              type: string
            capabilities_detail:
              type: object
              properties:
                primary_capability:
                  type: object
                  properties:
                    supported:
                      type: boolean
                    description:
                      type: string
                    features:
                      type: array
                      items:
                        type: string
                    limitations:
                      type: string
                secondary_capability:
                  type: object
                  properties:
                    supported:
                      type: boolean
                    description:
                      type: string
            requirements:
              type: object
              properties:
                packages:
                  type: array
                  items:
                    type: string
                environment_variables:
                  type: array
                  items:
                    type: string
                system:
                  type: array
                  items:
                    type: string
                min_memory_mb:
                  type: integer
            performance:
              type: object
              properties:
                avg_processing_time_ms:
                  type: integer
            allowed_tools:
              type: array
              items:
                type: string
            documentation:
              type: object
              properties:
                overview:
                  type: string
                use_cases:
                  type: object
                  properties:
                    when_to_use:
                      type: array
                      items:
                        type: string
                    when_not_to_use:
                      type: array
                      items:
                        type: string
                input_structure:
                  type: string
                output_format:
                  type: string
                error_handling:
                  type: array
                  items:
                    type: string
                examples:
                  type: array
                  items:
                    type: object
                best_practices:
                  type: object
                installation:
                  type: string
                versioning:
                  type: array
                  items:
                    type: object
            assessment:
              type: object
              properties:
                keywords:
                  type: array
                  items:
                    type: string
                specializations:
                  type: array
                  items:
                    type: object
                anti_patterns:
                  type: array
                  items:
                    type: string
                complexity_indicators:
                  type: object
            has_documentation:
              type: boolean
      example:
        id: 'web-extraction-v1'
        name: 'web-extraction'
        description: 'Extracts web page content using Exa and optionally Firecrawl, then structures it into JSON format using OpenRouter LLM.'
        tags: ['web', 'extraction', 'structured-data', 'scraping', 'content-analysis']
        input_modes: ['text/plain', 'application/json']
        output_modes: ['application/json']
        version: '1.0.0'
        author: 'paras@getbindu.com'
        examples:
          - 'Extract information from https://en.wikipedia.org/wiki/Python_(programming_language)'
          - 'Extract information from https://www.mozilla.org/en-US/'
        capabilities_detail:
          primary_capability:
            supported: true
            description: 'Web content extraction using Exa and Firecrawl tools with LLM-based structuring'
            features:
              - 'Uses ExaTools for web content retrieval (required)'
              - 'Uses FirecrawlTools for scraping and crawling (optional, enabled by default)'
              - 'LLM processes raw content into PageInformation JSON schema'
              - 'Extracts title, description, features, content_sections, links, contact_info, metadata'
              - 'Returns structured JSON output only'
            limitations: 'Depends on Exa API for content retrieval. Firecrawl is optional but enabled by default if API key provided. No retry logic visible in code. No explicit rate limiting in code. No explicit authentication/paywall bypass.'
          secondary_capability:
            supported: false
            description: 'Not supported by code'
        requirements:
          packages:
            - 'agno'
            - 'exa (required)'
            - 'firecrawl (optional)'
            - 'openrouter (required)'
            - 'mem0 (optional)'
            - 'bindu'
            - 'pydantic'
          environment_variables:
            - 'OPENROUTER_API_KEY (required)'
            - 'EXA_API_KEY (required)'
            - 'FIRECRAWL_API_KEY (optional)'
            - 'MEM0_API_KEY (optional)'
            - 'MODEL_NAME (optional, default: openai/gpt-4o)'
            - 'ENABLE_FIRECRAWL (optional, default: true)'
          system:
            - 'Internet access for API calls'
          min_memory_mb: 512
        performance:
          avg_processing_time_ms: 15000
        allowed_tools:
          - 'ExaTools (search, find_similar, get_contents)'
          - 'FirecrawlTools (scrape, crawl) - optional'
          - 'Mem0Tools (memory operations) - optional'
        documentation:
          overview: 'Agent built on Agno framework that fetches web content via Exa API (required) and optionally Firecrawl API, then uses OpenRouter LLM to structure the content into a PageInformation JSON schema. The agent uses lazy initialization and runs on port 3773 by default. Mem0 can be enabled for conversation memory if API key is provided.'
          use_cases:
            when_to_use:
              - 'Extracting structured information from publicly accessible URLs'
              - 'Converting web pages to JSON format'
              - 'Collecting page metadata, links, and contact information'
            when_not_to_use:
              - 'Bypassing authentication or paywalls (not supported by code)'
              - 'High-frequency scraping (no rate limiting visible)'
              - 'Multi-page crawling (single URL per request based on examples)'
              - 'Visual or image content analysis (text-based only)'
          input_structure: 'Accepts natural language text containing a URL. Example: "Extract information from https://www.example.com". The agent extracts the URL from the message and processes it. No structured JSON input parameters are enforced by the code.'
          output_format: 'Returns JSON matching PageInformation Pydantic schema with url, title, description, features, content_sections, links, contact_info, and metadata. Agent instructions specify markdown=False and structured_outputs=True. Output is wrapped in JSON code block in response.'
          error_handling:
            - 'APIKeyError raised if OPENROUTER_API_KEY or EXA_API_KEY missing'
            - 'RuntimeError if agent not initialized'
            - 'Tool initialization failures logged but may continue without optional tools'
            - 'No explicit retry logic in code'
            - 'No explicit timeout handling in code'
          examples:
            - title: 'Wikipedia Page Extraction'
              input:
                text: 'Extract information from https://en.wikipedia.org/wiki/Python_(programming_language)'
              output:
                url: 'https://en.wikipedia.org/wiki/Python_(programming_language)'
                title: 'Python (programming language)'
            - title: 'Company Website Extraction'
              input:
                text: 'Extract information from https://www.mozilla.org/en-US/'
              output:
                url: 'https://www.mozilla.org/'
                title: 'Welcome to Mozilla'
                description: 'Mozilla - Internet for people, not profit (US)'
          best_practices:
            for_developers:
              - 'Set OPENROUTER_API_KEY and EXA_API_KEY environment variables'
              - 'Optionally set FIRECRAWL_API_KEY for advanced scraping'
              - 'Optionally set MEM0_API_KEY for conversation memory'
              - 'Use MODEL_NAME to specify OpenRouter model (default: openai/gpt-4o)'
              - 'Set ENABLE_FIRECRAWL=false to disable Firecrawl if needed'
            for_orchestrators:
              - 'Send messages to http://127.0.0.1:3773 using JSON-RPC 2.0'
              - 'Use message/send method with skillId: web-extraction-v1'
              - 'Poll tasks/get to retrieve completed results'
              - 'Expect JSON output in artifacts with name result'
              - 'Agent initializes lazily on first request'
          installation: 'Install dependencies: uv sync. Set environment variables: OPENROUTER_API_KEY (required), EXA_API_KEY (required), FIRECRAWL_API_KEY (optional), MEM0_API_KEY (optional), MODEL_NAME (optional, default: openai/gpt-4o), ENABLE_FIRECRAWL (optional, default: true). Run: python -m web_extraction_agent.main. Server starts on http://127.0.0.1:3773'
          versioning:
            - version: '1.0.0'
              date: '2026-01-12'
              changes: 'Initial implementation with Exa, Firecrawl, OpenRouter, and Mem0 integration'
        assessment:
          keywords:
            - 'extract information from'
            - 'web extraction'
            - 'scrape website'
            - 'extract content'
            - 'get information from url'
            - 'extract from https'
          specializations:
            - domain: 'web content extraction'
              confidence_boost: 0.4
            - domain: 'url-based data retrieval'
              confidence_boost: 0.3
          anti_patterns:
            - 'real-time chat'
            - 'video processing'
            - 'image generation'
            - 'audio transcription'
            - 'code writing'
            - 'mathematical solving'
            - 'multi-page crawling'
            - 'authenticated content'
          complexity_indicators:
            simple:
              - 'extract from url'
              - 'get page information'
            medium:
              - 'extract information from https'
              - 'scrape website content'
            complex:
              - 'Not supported by code'
        has_documentation: true

    # ----- Negotiation -----
    NegotiationRequest:
      type: object
      required:
        - task_summary
      properties:
        task_summary:
          type: string
          maxLength: 10000
        task_details:
          type: string
        input_mime_types:
          type: array
          items:
            type: string
        output_mime_types:
          type: array
          items:
            type: string
        max_latency_ms:
          type: integer
        max_cost_amount:
          type: number
          format: float
        required_tools:
          type: array
          items:
            type: string
        forbidden_tools:
          type: array
          items:
            type: string
        min_score:
          type: number
          format: float
          minimum: 0
          maximum: 1
        weights:
          type: object
          properties:
            skill_match:
              type: number
              format: float
            io_compatibility:
              type: number
              format: float
            performance:
              type: number
              format: float
            load:
              type: number
              format: float
            cost:
              type: number
              format: float
      example:
        task_summary: 'Extract structured data from a company website'
        task_details: 'User needs to extract contact information and product details from https://example.com'
        input_mime_types: ['text/plain', 'application/json']
        output_mime_types: ['application/json']
        max_latency_ms: 30000
        max_cost_amount: 0.01
        required_tools: []
        forbidden_tools: []
        min_score: 0.5
        weights:
          skill_match: 0.55
          io_compatibility: 0.20
          performance: 0.15
          load: 0.05
          cost: 0.05
    NegotiationResponse:
      type: object
      properties:
        accepted:
          type: boolean
        score:
          type: number
          format: float
        confidence:
          type: number
          format: float
        rejection_reason:
          type: string
        queue_depth:
          type: integer
        subscores:
          type: object
          properties:
            skill_match:
              type: number
              format: float
            io_compatibility:
              type: number
              format: float
            load:
              type: number
              format: float
            cost:
              type: number
              format: float
      example:
        accepted: true
        score: 0.85
        confidence: 0.9
        rejection_reason: null
        queue_depth: 0
        subscores:
          skill_match: 0.9
          io_compatibility: 1
          load: 1
          cost: 1

    # ----- Payment -----
    PaymentSession:
      type: object
      properties:
        sessionId:
          type: string
        requirements:
          type: object
        url:
          type: string
        expiresAt:
          type: string
          format: date-time
    PaymentStatus:
      type: object
      properties:
        status:
          type: string
          enum: [pending, completed, failed]
        paymentToken:
          type: string
        expiresAt:
          type: string
          format: date-time

    # ----- Health -----
    HealthResponse:
      type: object
      properties:
        status:
          type: string
          enum: [ok, error]
        ready:
          type: boolean
        uptime_seconds:
          type: number
        version:
          type: string
        health:
          type: string
        runtime:
          type: object
          properties:
            storage_backend:
              type: string
            scheduler_backend:
              type: string
            task_manager_running:
              type: boolean
            strict_ready:
              type: boolean
        application:
          type: object
          properties:
            penguin_id:
              type: string
            agent_did:
              type: string
        system:
          type: object
          properties:
            python_version:
              type: string
            platform:
              type: string
            platform_release:
              type: string
            environment:
              type: string
      example:
        status: 'ok'
        ready: true
        uptime_seconds: 31.43
        version: '2026.9.2.2'
        health: 'healthy'
        runtime:
          storage_backend: 'PostgresStorage'
          scheduler_backend: 'RedisScheduler'
          task_manager_running: true
          strict_ready: true
        application:
          penguin_id: 'web-extraction-agent-id'
          agent_did: 'did:bindu:user:web-extraction-agent:agent-id'
        system:
          python_version: '3.12.12'
          platform: 'Linux'
          platform_release: '6.8.0-90-generic'
          environment: 'development'
